.place__title {
  max-width: 460px;
  min-height: 76px;
  font-weight: 900;
  font-style: normal;
  font-size: 72px;
  line-height: 76px;
  grid-area: title;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    max-width: 340px;
    min-height: 46px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    max-width: 288px;
    min-height: 35px;
    font-size: 32px;
    line-height: 35px;
  }
}