.page {
  margin: auto;
  width: 100%;
  max-width: 1184px;
  height: auto;
  font-family: 'Inter', Arial, sans-serif;
  background: #2a2c2f;
  color: white;
  /*overflow: hidden; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

