.intro__subtitle {
  max-width: 690px;
  min-height: 68px;
  margin-top: 40px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
}

@media screen and (min-width: 768px) {
  .intro__subtitle {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .intro__subtitle {
    max-width: 288px;
    min-height: 90px;
    line-height: 30px;
  }
}