.places {
  max-width: 984px;
  max-height: 3452px;
  margin: 0 auto;
  
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
    min-height: 3456px;
  } 
}
@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    max-height: 3143px;
  } 
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 320px;
    min-height: 5179px;
    margin-top: 64px;
  } 
}
