.places {
  max-width: 928px;
  min-height: 3456px;
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    min-height: 3143px;
  } 
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 320px;
    min-height: 5179px;
    margin-top: 64px;
  } 
}
