.header__lang {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 18px;
  align-content: flex-end;
  list-style: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 23px;
  text-align: right;
  color: #fff;
}

.header__lang:nth-child(1) {
  text-decoration-line: underline;
}

@media screen and (max-width: 375px) {
  .header__lang {
    font-size: 18px;
    line-height: 17px;
  }
}