.header__lang {
  margin: 0;
  padding: 0;
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 23px;
  text-align: right;
  color: #fff;
}

@media screen and (max-width: 320px) {  
  .header__lang {
    margin-top: 30px; 
 }
}