.header__lang {
  margin: 0;
  padding: 0;
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 23px;
  text-align: right;
  color: #fff;
}

