@import url('./__title/lead__title.css');
@import url('./__subtitle/lead__subtitle.css');
@import url('./__image/lead__image.css');
@import url('./__image-container/lead__image-container.css');;
@import url('./__caption/lead__caption.css');

.lead {
  max-width: 928px;
  min-height: 962px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
}


@media screen and (min-width: 1280px) {
  .lead {
    max-width: 984px;
    min-height: 1005px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    min-height: 862px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
    min-height: 406px;
  }
}