.cover__subtitle {
  max-width: 320px;
  min-height: 66px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  align-self: center;
  margin: 0;
  z-index: 2;
}

@media screen and (max-width: 320px) {
.cover__subtitle {
  max-width: 288px;
  min-height: 48px;
  font-size: 14px;
  line-height: 16px; 
}
}