.section_narrow {
  max-width: calc(100% - 200px);
}

@media screen and (max-width: 1024px) {
  .section_narrow {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .section_narrow {
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 320px) {
  .section_narrow {
    max-width: calc(100% - 32px);
  }
}