@import url('./__logo/header__logo.css');
@import url('./__lang/header__lang.css');
@import url('./__lang-link/header__lang-link.css');
@import url('./__lang-item/header__lang-item.css');



.header {
  max-width: 984px;
  max-height: 44px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 58px;
}

@media screen and (max-width: 1024px){
  .header {
    max-width: 984px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
  }
}

@media screen and (max-width: 425px) and (min-width: 375px) {
  .header{
    min-width: 334px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin-right: 16px;
    margin-left: 16px;
  }
}

