@import url(./_type/place__paragraph_type_intro.css);
@import url(./_type/place__paragraph_type_main.css);
@import url(./_type/place__paragraph_type_cost.css);

.place__paragraph {
  max-width: 465px;
  width: 100%;
  grid-area: paragraph;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    max-width: 288px;
    height: auto;
    margin-top: 32px;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 16px;
    line-height: 26px;
  }
}