@import url(./_type/place__paragraph_type_intro.css);
@import url(./_type/place__paragraph_type_main.css);
@import url(./_type/place__paragraph_type_cost.css);

.place__paragraph {
  max-width: 465px;
  width: 100%;
  grid-area: paragraph;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

