.footer__copyright {
  margin: 0;
  max-width: 168px;
  min-height: 16px;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  font-weight: normal;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
   margin-top: 48px;
  } 
}