@import url('./__item/cover__item.css');
@import url('./__link-container/cover__link-container.css');
@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');


.cover {
  opacity: 1;
  margin-top: 96px;
}

.cover:hover {
  cursor: pointer;
  opacity: .3;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin-top: 92px;;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin-top: 64px;
  }
}
