.lead__caption {
  width: 183px;
  min-height: 14px;
  margin-top: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #fff;
}