.cover__title {
  max-width: 656px;
  min-height: 76px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #fffdfd;
}


@media screen and (max-height: 320px) {
  .cover__title {
    max-width: 288px;
    min-height: 35px;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    color: #fff;
  }
}