@import url('./__container/footer__container.css');
@import url('./__list/footer__list.css');
@import url('./__list-item/footer__list-item.css');
@import url('./__link/footer__link.css');
@import url('./__copyright/footer__copyright.css');

.footer { 
  margin-top: 92px;
}

@media screen and (max-width: 1024px) {
  .footer { 
    margin-top: 64px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 88px;   
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin-top: 64px; 
  }
}

