.cover__item {
  max-width: 1184px;
  min-height: 740px; 
  background-image: url('../../../images/__background.jpg');
  color: #fff;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
  z-index: 0;
}

.cover__item:before {
  content: "";
  height: 100%;
  width: 100%;
  background: #000000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .3;
  z-index: 1;
  transition-duration: .5s;
}

.cover__item:hover:before {
  opacity: .8;
}
 
@media screen and (max-width:  1024px ){
 .cover__item{
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
 .cover__item{
   max-width: 768px;
   min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__item {
    max-width: 320px;
    min-height: 200px;
  }
}